@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --primary-color: #3498db;
  --secondary-color: #bccc2e;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  background-color: #00adb5;
  border-radius: 10px;
  box-shadow: 0 0 45px #ffffff43;
}
.game-details {
  color: #b8c6dc;
  font-weight: 500;
  font-size: 20px;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  width: 100%;
  height: 100%;
  background-color: #393e46;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.play-board .food {
  background-color: #e80f0f;
}
.play-board .head {
  background-color: #6080ff;
}
